################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IPS_API/obj
/IPS_API/bin/Debug/net9.0
